<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{{ title }} / SF </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/workers.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					{% include 'client/constant_templates/header.html' %}

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{% url 'home' %}" class="active">Home</a></li>
							<li><a href="{% url 'manuals' %}">Manuals</a></li>
							<li><a href="{% url 'order' %}">Make an order</a></li>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>About Us</h2>
										</header>
										<p>SF Car Service is a trusted and expert car repair service based in Odesa. Specializing in a wide range of automotive repairs, they offer skilled mechanics and state-of-the-art equipment to ensure your vehicle gets the best care possible. From routine maintenance to complex repairs, SF Car Service is dedicated to getting you back on the road safely and efficiently. With a focus on quality workmanship, transparent pricing, and exceptional customer service, they are the go-to destination for all your car repair needs in Odesa.</p>
									</div>
									<span class="image"><img src="{% static 'CarServiceMain/images/factory.jpg' %}" alt="" /></span>
								</div>
							</section>

                        <!-- Service Staff -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Our Staff</h2>
								</header>
								<ul class="features">
                                    {% for item in mechanics %}
									<li>
										<div class="staff-member">
                                            <img src="{{ item.avatar.url }}" alt="Staff Member {{ item.id }}">
                                        </div>
										<h3>{{ item.first_name }} {{ item.last_name }}</h3>
										<p>{{ item.description }}</p>
									</li>
                                    {% endfor %}
								</ul>
							</section>
			</div>
                <!-- Footer -->
                    {% include 'client/constant_templates/bottom.html' %}
		<!-- Scripts -->
			<script src="{% static 'CarServiceMain/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/util.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/main.js' %}"></script>
            <script src="{% static 'authorisation/JavaScript/maps.js' %}"></script>


	</body>
</html>