<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{{ title }} / SF </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/workers.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->

				<!-- Nav -->
					<nav id="nav"><ul>
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'manuals' %}">Manuals</a></li>
							<li><a href="{% url 'tasks' %}" class="active">Tasks</a></li>
							<li><a href="{% url 'shop' %}">Shop</a></li>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
						</ul>
					</nav>

				<!-- Main -->
                <div id="main">
				    <section id="first" class="main special">
                        <header class="major">
                            <h2>Tasks</h2>
                        </header>
                        <div class="table-wrapper">
                            <table class="alt">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Task name</th>
                                        <th>Description</th>
                                        <th>Equipments</th>
                                        <th>Job</th>
                                        <th>Total</th>
                                        <th>Button</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                        <tr>
                                            <td>{{ task.id }}</td>
                                            <td>{{ task.task_name }}</td>
                                            <td>{{ task.task_description }}</td>
                                            <td>{{ task.task_price_equipment }} $</td>
                                            <td>
                                                {% if task.task_progress %}
                                                    {% if task.task_status %}
                                                        {{ task.task_price_job }} $
                                                    {% else %}
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            {{ task.task_price_job }} $
                                                            <p>Set a price for work</p>
                                                            {{ form.task_price_job }}
                                                            <input type="hidden" name="task_id" value="{{ task.id }}">
                                                            <button type="submit">Update Price</button>
                                                          </form>
                                                    {% endif %}
                                                {% else %}
                                                    No info
                                                {% endif %}
                                            </td>
                                            <td>{{ task.total_price }}</td>
                                            <td>
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="task_id" value="{{ task.id }}">
                                                    {% if task.task_status %}
                                                        {% if task.task_progress %}
                                                            <button class="button fit" disabled>Done</button>
                                                        {% else %}
                                                            <button class="button fit" disabled>Done</button>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if task.task_progress %}
                                                            <button class="button" name="finish_task" type="submit">Finish a task</button>
                                                        {% else %}
                                                            <button class="primary button" name="start_task" type="submit">Start</button>
                                                        {% endif %}
                                                    {% endif %}
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
			</div>
            <!-- Footer -->
                    {% include 'service/constant_templates/service_contacts.html' %}

		<!-- Scripts -->
			<script src="{% static 'CarServiceMain/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/util.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/main.js' %}"></script>
            <script src="{% static 'authorisation/JavaScript/maps.js' %}"></script>
            <script src="{% static 'authorisation/JavaScript/authorisation.js' %}"></script>

	</body>
</html>