<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{{ title }} / SF </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/workers.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->

				<!-- Nav -->
					<nav id="nav"><ul>
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'manuals' %}">Manuals</a></li>
							<li><a href="{% url 'tasks' %}" class="active">Tasks</a></li>
							<li><a href="{% url 'shop' %}">Shop</a></li>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
						</ul>
					</nav>

				<!-- Main -->
                <div id="main">
				    <section id="first" class="main special">
                        <header class="major">
                            <h2>Tasks</h2>
                        </header>
                        <div class="table-wrapper">
                            <table class="alt">
                                <thead>
                                    <tr>
                                        <th>Client name</th>
                                        <th>Car</th>
                                        <th>Comments</th>
                                        <th>Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Item One</td>
                                        <td>Ante turpis integer aliquet porttitor.</td>
                                        <td>29.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Two</td>
                                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                        <td>19.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Three</td>
                                        <td> Morbi faucibus arcu accumsan lorem.</td>
                                        <td>29.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Four</td>
                                        <td>Vitae integer tempus condimentum.</td>
                                        <td>19.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Five</td>
                                        <td>Ante turpis integer aliquet porttitor.</td>
                                        <td>29.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Five</td>
                                        <td>Ante turpis integer aliquet porttitor.</td>
                                        <td>29.99</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        </div>
                    </div>
                    </section>

				<!-- Footer -->
                    {% include 'service/constant_templates/service_contacts.html' %}
			</div>

		<!-- Scripts -->
			<script src="{% static 'CarServiceMain/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/util.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/main.js' %}"></script>
            <script src="{% static 'authorisation/JavaScript/maps.js' %}"></script>
            <script src="{% static 'authorisation/JavaScript/authorisation.js' %}"></script>

	</body>
</html>