<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{{ title }} </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'CarServiceMain/assets/css/workers.css' %}" />
        <link rel="stylesheet" href="{% static 'authorisation/css/log_in.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'authorisation/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
                    {% if user.is_authenticated %}
                        {% include 'constant_templates/header.html' %}
                        <p>You already in system</p>
                    <!-- Navigation -->
                        <nav id="nav">
                            <ul>
                                <li><a href="{% url 'profile' %}" class="active">Profile</a></li>
                            </ul>
                        </nav>
                    {% else %}
                        {% include 'constant_templates/header.html' %}
                        <p>Log in to enjoy your special deal</p>
                    <!-- Navigation -->
                        <nav id="nav">
                            <ul>
                                <li><a href="{% url 'login' %}" class="active">Log In</a></li>
                            </ul>
                        </nav>
                    {% endif %}

				<!-- Main -->
					<div id="main">
						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>About Us</h2>
										</header>
										<p>SF Car Service is a trusted and expert car repair service based in Odesa. Specializing in a wide range of automotive repairs, they offer skilled mechanics and state-of-the-art equipment to ensure your vehicle gets the best care possible. From routine maintenance to complex repairs, SF Car Service is dedicated to getting you back on the road safely and efficiently. With a focus on quality workmanship, transparent pricing, and exceptional customer service, they are the go-to destination for all your car repair needs in Odesa.</p>
									</div>
									<span class="image"><img src="{% static 'CarServiceMain/images/factory.jpg' %}" alt="" /></span>
								</div>
							</section>

						<!-- Service Staff -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Our Staff</h2>
								</header>
								<ul class="features">
                                    {% for items in mechanics %}
									<li>
										<div class="staff-member">
                                            <img src="{{ items.avatar }}" alt="Staff Member 3">
                                        </div>
										<h3>{{ items.first_name }}{{ items.last_name }}</h3>
										<p>{{ items.description }}</p>
									</li>
                                    {% endfor %}
								</ul>
							</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<script src="https://www.bing.com/api/maps/mapcontrol?key=AhNtSQhz3trUFNaeSraF8neUznpxVyCm7O49wT-XoRM67-PEdJp9f6lwrBlSvPI0&callback=initMap" async defer></script>
                            <div id="map" style="height: 400px; width: 100%;"></div>
						</section>
						<section>
							<h2>Contacts</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>43 Velyka Arnautska &bull; Odesa &bull; Ukraine</dd>
								<dt>Phone</dt>
								<dd>+ (380) 555-131131</dd>
								<dt>Email</dt>
								<dd><a href="mailto:shepel9119@gmail.com">sfcarservice@mail.com</a></dd>
							</dl>
						</section>
						<p class="copyright">&copy;Mykhailo Shepelenko</a></p>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="{% static 'CarServiceMain/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/util.js' %}"></script>
			<script src="{% static 'CarServiceMain/assets/js/main.js' %}"></script>
            <script src="{% static 'authorisation/JavaScript/maps.js' %}"></script>
            <script src="{% static 'authorisation/JavaScript/authorisation.js' %}"></script>
	</body>
</html>