{#Contacts for service#}

<footer id="footer">
    <section>
        <script src="https://www.bing.com/api/maps/mapcontrol?key=AhNtSQhz3trUFNaeSraF8neUznpxVyCm7O49wT-XoRM67-PEdJp9f6lwrBlSvPI0&callback=initMap" async defer></script>

        <div id="map" style="height: 400px; width: 100%;"></div>

    </section>
    <section>
        <h2>Useful contacts </h2>
        <dl class="alt">
            <dt>Address</dt>
            <dd>43 Velyka Arnautska &bull; Odesa &bull; Ukraine</dd>
            <dt>Chief</dt>
            <dd>+ (380) 972-856391</dd>
            <dt>Shop</dt>
            <dd>+ (380) 555-0012123</dd>
            <dt>Shopmail</dt>
            <dd><a href="mailto:sfshop@gmail.com">sfshop@mail.com</a></dd>
        </dl>
    </section>
    <p class="copyright">&copy; Mykhailo Shepelenko</a></p>
</footer>
